.home-workspace-box {
  @include workspace-box;
  margin: 10px 0;
}

.home-workspace-title {
  @include workspace-title;
  font-size: 24px;
  max-width: none;
  width: 100%;
}

// .home-workspace-plus {
//   @include plus-button;
// }

.home-workspace-plus-menu {
  @include plus-menu-two-option;
  right           : 0px;
  margin-top      : 25px;
  // z-index      : 5;
}



.home-workspace-projects {
  @include project-list;
  flex-direction: row;
  margin-left: 10px;

  // span {
  //   height          : 50px;
  //   width           : 50px;
  //   border-radius   : 15px;
  //   display         : inline-block;
  //   // position: relative;
  //   vertical-align  : middle;
  // }
}

.home-workspace-project-wrapper {
  display       : flex;
  flex-direction: column;
  align-items   : center;

  &:hover {
    background-color: $lighter-gray;
  }
}

.home-workspace-project {
  // width     : 100%;
  padding         : 5px 5px;
  overflow-x      : hidden;
  transition      : all 0.3s ease 0s;
  height          : 18px;
  border-right    : 4px solid transparent;
  // background-color: transparent;

  &:hover {
    color           : $primary;
    font-size       : 17px;
    border-right    : 4px solid $primary;
    background-color: $lightest-gray;
  }
}

// .icon-a {
//   position: relative;
  
//   &::after {
//     content: '~';
//     position: absolute;
//   }
// }

// .icon-color-0 {
//   background-color: $primary;
// }
