.home-workspace-box {
  @include workspace-box;
}

.home-workspace-title {
  @include workspace-title;
}

// .home-workspace-plus {
//   @include plus-button;
// }

.home-workspace-plus-menu {
  @include plus-menu-two-option;
  right         : 0px;
  margin-top: 25px;
  // z-index      : 5;
}



.home-workspace-projects {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  padding       : 5px 0;
  overflow-y    : auto;
  overflow-x    : hidden;

  :nth-child(1)>span {
    background-color: rgb(random(255), random(255), random(255));
  }

  :nth-child(2)>span {
    background-color: rgb(random(255), random(255), random(255));
  }

  :nth-child(3)>span {
    background-color: rgb(random(255), random(255), random(255));
  }

  :nth-child(4)>span {
    background-color: rgb(random(255), random(255), random(255));
  }
}

.home-workspace-project {
  // width     : 100%;
  padding     : 5px 5px;
  overflow-x  : hidden;
  transition  : all 0.3s ease 0s;
  height      : 18px;
  border-right: 4px solid transparent;

  >span {
    height        : 10px;
    width         : 10px;
    display       : inline-block;
    // position: relative;
    vertical-align: middle;

  }

  &:hover {
    color           : $primary;
    font-size       : 17px;
    border-right    : 4px solid $primary;
    background-color: $lightest-gray;
  }
}