// MainBox

#mainbox {
  width            : 100%;
  // width         : $mainbox-width;
  // flex          : 0 1 auto;
  height           : 100%;
  display          : flex;
  flex-direction   : column;
  // padding-top   : $main-padding-top;
  // Adjust margin left to account for fixed sidebar
  // margin-left   : $sidebar-width;

}

#mainbox h1 {
  color        : $darkgray;
  font-size    : 24px;
  margin       : 10px 0;
  padding      : 10px 0;
  border-bottom: 3px solid $secondary;
}

// MainContent (Workspace, Project, etc.)
#main-content {
  // margin-top   : $header-height; // adjust for fixed topbar;
  // width : $mainbox-width;
  // max-width: 100vw;
  // width        : 100vw;
  height       : 100%;
  overflow-y   : auto;
  // border    : 1px dashed violet;
  padding      : $main-content-padding;
}