#my-tasks{

}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $light-gray;
}

tr:nth-of-type(odd) {
  background: $lightest-gray;
}

th {
  background: $lightest-gray;
  color: $primary;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

td, th {
  padding: 6px;
  border: 1px solid $light-gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
td >span {
  margin: 0 6px;
}

.task-name-input {
  color: black;
  opacity: 80%;
  border: 1px solid transparent;
  padding: 2px 6px;
  border-radius: 5px;
  // width: 100%;

  &:hover, &:focus {
    border: 1px solid $light-gray;
    background-color: white;
    opacity: 100%;  
  }

}