#my-tasks {
  margin-left : -$main-content-padding + 10px;
  margin-right: -$main-content-padding + 10px;
}

table {
  width          : 100%;
  border-collapse: collapse;
  // border: 1px solid $light-gray;
}

td,
th {
  // padding      : 6px;
  overflow     : hidden;
  white-space  : nowrap;
  text-overflow: ellipsis;
}

td {
  opacity      : 75%;
  border-top   : 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
}

th {
  // background-color: $lightest-gray;
  color        : $primary;
  font-weight  : bold;
  font-size    : 16px;
  text-align   : center;
  height       : 30px;
  padding-top  : 20px;
  border-top   : none;
  border-bottom: 4px solid $light-gray;
}

// ROW & FIRST CELL STYLING

.my-tasks-table-row {
  opacity     : 75%;
  transition  : all 0.3s ease 0s;
  border-left : 4px solid transparent;
  box-sizing  : border-box;
  height      : 50px;
  // padding-left: 10px;

  &:hover,
  &:focus-within {
    background-color: $lighter-gray;
    border-left     : 4px solid $primary;
    opacity         : 100%;
  }

  >div {
    margin: 5px auto;
  }
}

.my-tasks-table-row>td:first-child {
  // margin-bottom: -1px; // get rid of extra flex borders
}

.my-tasks-table-row:first-child>td:first-child {
  // margin-top: -1px; // get rid of extra flex border in first cell
}

.my-tasks-first-cell {
  display           : flex;
  // justify-content: ;
  padding-top       : 5px;
  align-items       : center;
  // border-bottom: none;
  margin-left: 10px;
  margin-right: 10px;

  >.plus-button {
    height     : 18px;
    width      : 18px;
    margin-left: 5px;
    opacity    : 0%;
  }

  &:hover>.plus-button {
    opacity: 100%;
  }
}

// CHECKBOX
@keyframes checked {
  0% {
    width : 16px;
    height: 16px;
  }

  50% {
    width : 24px;
    height: 24px;
  }

  100% {
    width : 20px;
    height: 20px;
  }
}

.task-check-wrapper {
  position  : relative;
  box-sizing: border-box;
  width     : 24px;
  height    : 24px;
  flex      : 0 0 auto; // To stop flex auto-sizing
}

.task-check-icon {
  box-sizing: border-box;
  width     : 20px;
  height    : 20px;
  box-sizing: border-box;
  background: image-url('check-circle-outline.svg') no-repeat center;
  align-self: center;

  // Centers button
  margin       : 0;
  position     : absolute;
  top          : 50%;
  left         : 50%;
  -ms-transform: translate(-50%, -50%);
  transform    : translate(-50%, -50%);

  filter    : invert(100%) sepia(0%) saturate(11%) hue-rotate(162deg) brightness(89%) contrast(77%); // start gray
  transition: all 0.3s ease 0s;

  &:hover {
    filter: invert(0%) sepia(100%) saturate(3227%) hue-rotate(173deg) brightness(92%) contrast(96%); // turn to black
  }

  &.task-done {
    animation : checked 0.8s ease;
    background: image-url('check-circle.svg') no-repeat center;
    filter    : invert(64%) sepia(86%) saturate(1574%) hue-rotate(124deg) brightness(97%) contrast(98%); // turn to #03dac5

    &:hover {
      filter: invert(0%) sepia(100%) saturate(3227%) hue-rotate(173deg) brightness(92%) contrast(96%); // turn to black
    }
  }
}

// TASK NAME

.task-input {
  color           : black;
  border          : 1px solid transparent;
  padding         : 2px 6px;
  margin-left     : 5px;
  border-radius   : 5px;
  font-weight     : bold;
  font-size       : larger;
  width           : 100%;
  opacity         : 90%;
  position        : relative;
  // transition   : all 0.3s ease 0s;

  &:hover {
    border          : 1px solid $light-gray;
    background-color: $lightest-gray;
    opacity         : 100%;
  }

  &:focus {
    border             : 1px solid $primary;
    box-shadow         : inset 0 2px 4px $lighter-gray, 0 2px 4px $lighter-gray;
    // color           : $primary;
    background-color   : white;
    opacity            : 100%;

    &+.plus-button {
      opacity: 100%;
    }
  }

  &.task-done {
    position                 : relative;
    animation                : flashPrimary 1s ease;
    text-decoration          : line-through $secondary;
    text-decoration-thickness: 3px;
  }
}

// TASK DUE DATE
.my-tasks-date-cell {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.my-tasks-date {
  border       : 1px solid $light-gray;
  border-radius: 5px;
  padding      : 4px 6px;
  margin       : 0 auto;
  cursor       : text;

  // width: 100%;

  // margin       : 0;
  // position     : absolute;
  // top          : 50%;
  // left         : 50%;
  // -ms-transform: translate(-50%, -50%);
  // transform    : translate(-50%, -50%);

  &:focus {
    background-color: white;
  }
}


// CREATE TASK ROW
.my-tasks-create-row {
  height: 60px;
}

.add-task-button {
  @include submit-button;

}