.workspace-modal {
  @include basic-modal-wrapper;
}

// .modal-backdrop & .modal-close in mixins.scss

.workspace-modal-box {
  @include modal-box;
}

#workspace-modal-form {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  margin-top     : 20px;

  label {
    font-size  : 15px;
    font-weight: bold;
  }

  input,
  textarea {
    @include modal-text-input;
  }

  input {
    height: 35px;
  }

  textarea {
    padding-top: 6px;
    height     : 70px;
  }

  >button {
    @include submit-button;
    background-color: rgba(3, 218, 197, 0.6);
    width           : 90%;

    &:hover {
      background-color: rgba(3, 218, 197, 1);
      width           : 100%;
    }

    &:focus {
      width        : 105%;
    }
  }
}