.workspace-modal {
  @include basic-modal-wrapper;
}

// .modal-backdrop & .modal-close in mixins.scss

.workspace-modal-box {
  @include modal-box;
}

#workspace-modal-form {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  margin-top     : 20px;

  // align-items: center;
  label {
    // border-bottom: 2px solid $secondary;
    font-size  : 15px;
    font-weight: bold;
  }

  .label-input-focused {
    color: $primary;
  }

  input,
  textarea {
    display         : block;
    box-sizing      : border-box;
    margin          : 5px 0;
    width           : 100%;
    background-color: $lightest-gray;
    border          : 1px solid $lighter-gray;
    border-radius   : 5px;
    height          : 35px;
    padding         : 4px 6px;
    color           : $darkgray;
    transition      : all 0.3s ease 0s;

    &:hover {
      opacity: 100%;
      border : 1px solid gray;
    }

    &:focus {
      border          : 2px solid $primary;
      background-color: $white;
      // border-radius: 5px;
      box-shadow      : inset 0 2px 4px $lighter-gray, 0 2px 4px $lighter-gray;
    }
  }

  textarea {
    padding-top: 6px;
    height     : 70px;
  }

  >button {
    @include submit-button;
    background-color: rgba(3, 218, 197, 0.6);
    width           : 90%;

    &:hover {
      // opacity         : 100%;
      background-color: rgba(3, 218, 197, 1);
      width           : 100%;
    }

    &:focus {
      // box-shadow: 0 0 8px $lighter-gray;
      width        : 105%;
      // opacity   : 100%;
    }
  }
}

.workspace-error {
  margin          : 5px 0;
  padding         : 0 6px;
  // background   : lightpink;
  color           : $secondary;
  // font-style: italic;
  height          : 12px;
  font-size       : 12px;
  font-style      : italic;
}