@keyframes show-modal {
  0% {
    display      : none;
    visibility   : hidden;
    opacity      : 0;
    // transform : translateY(0%);
    top          : 100%;
  }

  70% {
    top: 28%;
  }

  100% {
    display      : flex;
    visibility   : visible;
    opacity      : 1;
    // transform : translateY(-50%);
  }
}

#workspace-modal {
  z-index        : 5;
  position       : fixed;
  display        : flex;
  justify-content: center;
  align-items    : center;
  margin         : 0 auto;
  // top: 0;
  // left: 0;
  // width: 100vw;
  // height: 100vh;
}

#workspace-modal-backdrop {
  display         : block;
  position        : fixed;
  top             : 0;
  bottom          : 0;
  left            : 0;
  right           : 0;
  background-color: rgba(128, 128, 128, 0.4);
}

#workspace-modal-box {
  display          : flex;
  flex-direction   : column;
  // border        : 1px solid $spacecadet;
  border-radius    : 8px;
  position         : fixed;
  padding          : 40px 50px;
  box-shadow       : 0 0 25px gray;
  top              : 30%;
  left             : 40%;
  animation        : show-modal 1s ease-in-out;
  // margin: 0 auto;
}

#workspace-modal-top {
  display    : flex;
  // position: relative;
}

#workspace-modal-close {
  width        : 30px;
  height       : 30px;
  cursor       : pointer;
  position     : absolute;
  top          : 8px;
  right        : 8px;
  opacity      : 70%;
  border-radius: 5px;

  &::before,
  &::after {
    content         : '';
    width           : 4px;
    height          : 80%;
    background-color: black;
    display         : block;
    transform       : translateX(0px);
    position        : absolute;
    top             : 4px;
    right           : 14px;
    border-radius   : 2px;
    opacity         : 70%;
    transition      : all 0.3s ease 0s;

  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  >span {
    width         : 1px;
    height        : 1px;
    padding       : 0;
    margin        : -1px;
    overflow      : hidden;
    // white-space: nowrap;
    // clip-path: rect(0, 0, 0, 0);
    // border: 0;
    position      : absolute;
  }

  &:hover {
    background-color: rgb(238, 238, 238);
    opacity         : 100%;

    &::before,
    &::after {
      opacity  : 100%;
    }
  }

  &:focus {
    background-color: rgb(238, 238, 238);
    opacity         : 100%;

    &::before,
    &::after {
      opacity  : 100%;
    }
  }
}

#workspace-modal-form {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  margin-top     : 20px;

  // align-items: center;
  label {
    // border-bottom: 2px solid $secondary;
    font-size  : 15px;
    font-weight: bold;
  }

  .label-input-focused {
    color: $primary;
  }

  input,
  textarea {
    display         : block;
    box-sizing      : border-box;
    margin          : 5px 0;
    width           : 100%;
    background-color: $lightest-gray;
    border          : 1px solid $lighter-gray;
    border-radius   : 5px;
    height          : 35px;
    padding         : 4px 6px;
    color           : $darkgray;
    transition      : all 0.3s ease 0s;

    &:hover {
      opacity: 100%;
      border : 1px solid gray;
    }

    &:focus {
      border          : 2px solid $secondary;
      background-color: $white;
      // border-radius: 5px;
      box-shadow      : inset 0 2px 4px $lighter-gray, 0 2px 4px $lighter-gray;
    }
  }

  textarea {
    padding-top: 6px;
    height     : 70px;
  }

  >button {
    align-self         : center;
    box-sizing         : border-box;
    width              : 90%;
    height             : 35px;
    margin-top         : 20px;
    padding            : 5px 10px;
    border-radius      : 5px;
    background-color   : rgba(3, 218, 197, 0.6);
    text-align         : center;
    color              : $primary--text;
    font-family        : $font-heading;
    // font-weight     : bold;
    // letter-spacing  : 2px;
    opacity            : 80%;
    transition         : all 0.3s ease 0s;

    &:hover {
      // color           : $white;
      // border          : 1px solid $secondary;
      opacity         : 100%;
      background-color: rgba(3, 218, 197, 1);
      width           : 100%;
    }

    &:focus {
      box-shadow: 0 0 8px $lighter-gray;
      width     : 105%;
      opacity   : 100%;
    }
  }
}

.workspace-error {
  margin          : 5px 0;
  padding         : 0 6px;
  // background   : lightpink;
  color           : $secondary;
  // font-style: italic;
  height          : 12px;
  font-size       : 12px;
  font-style      : italic;
}