#project-form-wrapper {
  @include basic-modal-wrapper;
  position : absolute;
  height   : 100%;
  width    : 100%;
  z-index  : 10;
  top      : 0;
  animation: show-modal 1s ease-in-out;
}

#project-form-box {
  margin : 0 auto;
  padding: 20em;
}