.project-tasks-list {
  display       : flex;
  flex-direction: column;
}

.project-task-row {
  display        : flex;
  justify-content: flex-start;
  align-items    : center;
  position       : relative;
  border-bottom: 1px solid $lightest-gray;

  >.plus-button {
    position: absolute;
    left    : -35px;
    z-index : 5;
    margin  : 0 10px;
    opacity : 0;
    width   : 16px;
    height  : 16px;
  }

  &:hover,
  &:focus-within {
    >.plus-button {
      opacity: 100%;
    }
  }

  >.project-task-input {

    // width       : 50%;
    // margin-right: 10px;
    &:first-of-type {
      max-width: 30%;
    }

    &:nth-of-type(2) {
      max-width: 50%;
    }
  }
}

.project-task-check-wrapper {
  position          : relative;
  box-sizing        : border-box;
  width             : 24px;
  height            : 24px;
  display           : flex;
  align-items       : center;
  justify-content   : center;
  // flex           : 0 0 auto; // To stop flex auto-sizing

  >.plus-button {
    width     : 20px;
    height    : 20px;
    transition: all 0.3s ease 0s;

    // &:hover {
    //   transform: rotate(360deg);
    // }
    &:focus {
      animation: checked 0.5s ease;
    }
  }
}

.project-task-check {
  @include task-check-button;
  width        : 20px;
  height       : 20px;
  // margin-top: 3px;
}

.project-tasks-head {
  display: flex;

  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid $lighter-gray;
}
.project-task-title {
  font-size: 20px;

  &:nth-child(1) {
    margin-left: 15%;
    max-width: 30%;
  }

  &:nth-child(2) {
    max-width: 50%;
  }

  &:nth-child(3) {
    margin-right: 4%;
  }
}