// Sidebar
#sidebar {
  display                  : flex;
  flex-direction           : column;
  height                   : 100%;
  background-color         : $background;
  padding-top              : $main-padding-top;
  padding-left             : 15px;
  padding-right            : 15px;
  // flex               : 0 1 avwuto;
  color                    : $gray;
  font-family              : $font-other;
  // Keep position fixed to side (also adjust mainbox left margin)
  // position              : fixed;
  min-width                : $sidebar-width;
  max-width                : $sidebar-width;
  width                    : $sidebar-width;
  box-sizing               : border-box; // best for collapsing
  box-shadow               : 0 0 25px $lighter-gray;
  transition               : all 0.3s ease 0s;
  z-index                  : 1;

  // a:not(#sidebar-logo) {
  //   &:hover {
  //     filter: brightness(90%);
  //   }
  // }

  &.collapsed {
    // width   : 0;
    // overflow: hidden;
    // opacity : 0.0;
    margin-left: -$sidebar-width;
  }
}


#sidebar-top {
  display   : flex;
  width     : 100%;
  height    : $header-height;
  padding   : 0 $sidebar-padding;
  box-sizing: border-box;
}

#sidebar-logo {
  height : 100%;
  width  : 100%;
  padding: 0 10px;

  img {
    height: 100%;
  }
}

.sidebar-menu-button {
  position       : relative;
  align-self     : center;
  right          : -20px;
  filter         : invert(100%) sepia(0%) saturate(11%) hue-rotate(162deg) brightness(89%) contrast(77%);
  background-size: 20px 20px;
  padding        : 5px 10px;
  height         : 22px;
  width          : 16px;
  border-radius  : 5px;
  transition     : all 0.3s ease 0s;

  &.chevron-left {
    background: image-url('chevron-left.svg') no-repeat center;
  }

  &.chevron-right {
    background: image-url('chevron-right.svg') no-repeat center;
  }

  &:hover {
    filter             : invert(0%) sepia(100%) saturate(3227%) hue-rotate(173deg) brightness(92%) contrast(96%);
    // background-color: $lightest-gray;
  }
}

button.collapsed {
  width   : 0;
  overflow: hidden;
  opacity : 0.0;
}

#sidebar-links {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  padding       : 20px 0;

  a {
    padding       : 10px $sidebar-padding;
    vertical-align: baseline;
    line-height   : initial;
    transition    : all 0.3s ease 0s;

    // &:hover {
    //   filter: brightness(110%);
    // }

    &::after {
      content: "";
      clear  : both;
      display: block;
    }

    &:hover {
      background-color: $lightest-gray;
      color           : $secondary;
    }
  }
}

.sidebar-icon {
  height : 20px;
  width  : 20px;
  opacity: 0.5;
  float  : left;
}

#sidebar-workspaces {
  display          : flex;
  flex-direction   : column;
  width            : 100%;
  height           : 100%;
  // overflow      : scroll; // ! how can we make this work?
  padding          : $sidebar-padding 0;
  box-sizing       : border-box;
  position         : relative;

  >a {
    font-family: $font-body;
    font-weight: bold;
    font-size  : 16px;
    padding    : 5px 0;
  }
}

.sidebar-workspace-box {
  @include workspace-box;
  // padding: 0 0 0 $sidebar-padding; // ! how to make this work
  z-index: 2;
}

.sidebar-workspace-title {
  @include workspace-title;
}

.selected-primary {
  color              : $primary;
}

// .sidebar-workspace-plus {
//   @include workspace-plus;
// }

.sidebar-workspace-plus-menu {
  display      : block;
  position     : absolute;
  transition   : all 0.3s ease 0s;
  left         : 250px;
  z-index      : 5;
  overflow-x   : hidden;
  overflow-y   : hidden;
  border-radius: 5px;
  border       : 1px solid $lighter-gray;
  box-shadow   : 0 0 10px $lighter-gray;

  >a,
  >button {
    display    : block;
    padding    : 5px 6px;
    width      : 100%;
    white-space: nowrap;

    &:first-child:hover {
      font-weight: bold;
      background : whitesmoke;
      color      : $primary;
    }

    &:nth-child(2):hover {
      font-weight: bold;
      color      : $secondary;
      background : $lightest-gray;
    }
  }

  // &.show-menu {
  //   display: block;
  // }
}



.sidebar-workspace-projects {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  padding       : 5px 0;
  overflow-y    : auto;
  overflow-x    : hidden;

  :nth-child(1)>span {
    background-color: rgb(random(255), random(255), random(255));
  }

  :nth-child(2)>span {
    background-color: rgb(random(255), random(255), random(255));
  }

  :nth-child(3)>span {
    background-color: rgb(random(255), random(255), random(255));
  }

  :nth-child(4)>span {
    background-color: rgb(random(255), random(255), random(255));
  }
}

.sidebar-workspace-project {
  // width     : 100%;
  padding     : 5px 5px;
  overflow-x  : hidden;
  transition  : all 0.3s ease 0s;
  height      : 18px;
  border-right: 4px solid transparent;

  >span {
    height        : 10px;
    width         : 10px;
    display       : inline-block;
    // position: relative;
    vertical-align: middle;

  }

  &:hover {
    color           : $primary;
    font-size       : 17px;
    border-right    : 4px solid $primary;
    background-color: $lightest-gray;
  }
}

#sidebar-bottom {
  padding        : $sidebar-padding $sidebar-padding;
  justify-self   : flex-end;
  display        : flex;
  flex-direction : column;
  justify-content: center;

  >p {
    text-align   : center;
    // align-self: center;
  }

  >a {
    display        : flex;
    justify-content: center;
    margin         : 10px 0;
  }

  button {
    width              : 95%;
    height             : 40px;
    // margin          : 10px;
    border-radius      : 4px;
    color              : $lightest-gray;
    box-shadow         : 1px 1px 4px $gray;
    background-color   : $primary;
    padding            : 4px 6px;
    opacity            : 0.7;
    align-self         : center;
    text-align         : center;
    font-size          : 15px;
    transition         : all 0.3s ease 0s;

    &:hover {
      opacity: 1.0;
      width  : 105%;
    }
  }
}