#workspace-delete-modal-box {
  @include modal-box;
  width: 410px;

  >h1 {
    color        : $darkgray;
    margin       : 10px 0 15px 0;
    padding      : 10px 0;
    border-bottom: 3px solid $secondary;
    font-size    : 24px;
    text-align   : center;

    >span {
      color    : $primary;
      animation: flashBlack 1.1s ease-out;
    }
  }

  >p {
    font-family   : $font-other;
    font-size     : 20px;
    letter-spacing: 1px;
    line-height   : 1.3;

    >span {
      color      : $secondary;
      font-family: $font-body;
      font-weight: bold;
    }
  }

  >p+p {
    text-align : center;
    margin     : 15px 0;
    font-size  : 24px;
    font-weight: bold;
  }

}

.modal-buttons {
  display        : flex;
  justify-content: space-around;

  >button {
    @include submit-button;
    font-size : 20px;
    width     : 40%;
    box-shadow: 1px 1px 4px $gray;

  }

  >button:first-child {
    background-color: $primary;

    &:hover {
      width: 45%;

      // +button {
      //   width: 35%;
      // }
    }
  }

  >button:last-child {
    background-color: $light-gray;

    &:hover {
      width: 45%;
    }
  }
}