$turquoise: #03dac5;
$turquoise-med: #02a091;

$spacecadet: #2D3142;
$melon: #FFA69E;
$cgblue: #007EA7;
$mindaro: #E5F77D;

// Background
$darkgrey: #121212;
// Surface

// Primary

// Secondary

// Setting CSS variables on root node
// :root {
//   --background-color-primary: #121212;
//   --text-color-primary: #F1F1F1;
// }