// @mixin reset-list {
//   margin    : 0;
//   padding   : 0;
//   list-style: none;
// }

// @mixin horizontal-list {
//   @include reset-list;

//   li {
//     display: inline-block;

//     margin: {
//       left : -2px;
//       right: 2em;
//     }
//   }
// }

// nav ul {
//   @include horizontal-list;
// }

// @mixin replace-text($image, $x: 50%, $y: 50%) {
//   text-indent: -99999em;
//   overflow   : hidden;
//   text-align : left;

//   background: {
//     image   : $image;
//     repeat  : no-repeat;
//     position: $x $y;
//   }
// }

// .mail-icon {
//   @include replace-text(url("/images/mail.svg"), 0);
// }

// * SPLASH ------------------------------------------------------------

@mixin signup-button {
  // need to include margin, padding, height, width
  cursor          : pointer;
  color           : $primary--text;
  background-color: rgba(3, 218, 197, 1);
  box-sizing      : border-box;
  text-align      : center;

  border-radius: 4px;
  white-space  : nowrap;
  overflow     : hidden;
  transition   : all 0.3s ease 0s;

  &:hover {
    background-color      : rgba(56, 165, 154, 1);
    // background-color   : $primary--med;
  }
}

// * WORKSPACE BOX (Sidebar & Home) ----------------------------------------

@mixin workspace-box {
  width         : 100%;
  box-sizing    : content-box;
  display       : flex;
  flex-direction: column;
  overflow-y    : visible;
  overflow-x    : visible;
  margin        : 5px 0;
  border-bottom : 1px solid $lighter-gray;
  position      : relative;
}

.workspace-title-wrapper {
  display        : flex;
  justify-content: space-between;
  position       : relative;
}

@mixin workspace-title {
  box-sizing   : border-box;
  max-width    : 216px;
  font-size    : 18px;
  font-family  : $font-heading;
  color        : $darkgray;
  padding      : 6px 5px;
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
  transition   : all 0.3s ease 0s;

  &:hover {
    color: $primary;
  }

  &:active {
    color: $primary;
  }
}

.plus-button {
  width     : 14px;
  height    : 14px;
  box-sizing: border-box;
  background: image-url('plus.svg') no-repeat center;
  align-self: center;
  filter    : invert(100%) sepia(0%) saturate(11%) hue-rotate(162deg) brightness(89%) contrast(77%);
  transition: all 0.3s ease 0s;

  &:hover {
    filter: invert(0%) sepia(100%) saturate(3227%) hue-rotate(173deg) brightness(92%) contrast(96%);
  }

  &.rotated-plus {
    -webkit-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform   : rotate(135deg);
    -o-transform     : rotate(135deg);
    -ms-transform    : rotate(135deg);
    transform        : rotate(135deg);
  }
}

// * TITLE FLASH ------------------------------------------------------------
@keyframes flashBlack {
  0% {
    color: black;
  }

  100% {
    color: $primary;
  }
}

@keyframes flashPrimary {
  0% {
    color: $primary;
  }

  100% {
    color: black;
  }
}


// * BUTTONS ------------------------------------------------------------
@mixin submit-button {
  align-self      : center;
  box-sizing      : border-box;
  height          : 35px;
  margin          : 10px 0;
  padding         : 5px 10px;
  border-radius   : 5px;
  background-color: $primary;
  text-align      : center;
  color           : $primary--text;
  font-family     : $font-heading;
  opacity         : 60%;
  transition      : all 0.3s ease 0s;

  &:hover {
    opacity         : 100%;
    background-color: $primary;
  }

  &:focus {
    opacity   : 100%;
    box-shadow: 0 0 8px $lighter-gray;
  }
}

.modal-delete-buttons {
  display        : flex;
  justify-content: space-around;

  >button {
    @include submit-button;
    font-size : 20px;
    width     : 40%;
    box-shadow: 1px 1px 4px $gray;

  }

  >button:first-child {
    background-color: $primary;

    &:hover {
      width: 45%;
    }
  }

  >button:last-child {
    background-color: $light-gray;

    &:hover {
      width: 45%;
    }
  }
}

// * FORM 

.error-message {
  margin    : 5px 0;
  padding   : 0 6px;
  color     : $secondary;
  height    : 12px;
  font-size : 12px;
  font-style: italic;
}

// * MODAL ------------------------------------------------------------

.label-input-focused {
  color: $primary;
}

.basic-modal-wrapper {
  z-index        : 10;
  position       : fixed;
  display        : flex;
  justify-content: center;
  align-items    : center;
  margin         : 0 auto;
}

@keyframes show-modal {
  0% {
    display      : none;
    visibility   : hidden;
    opacity      : 0;
    top          : 100%;
    // transform : translateY(0%);
  }

  70% {
    top    : 23%;
    opacity: 1;
  }

  100% {
    display         : flex;
    visibility      : visible;
    // opacity      : 1;
    // transform : translateY(-50%);
  }
}

@mixin modal-box {
  display       : flex;
  flex-direction: column;
  border-radius : 8px;
  position      : fixed;
  padding       : 40px 50px;
  box-shadow    : 0 0 25px gray;
  top           : 25%;
  left          : 35%;
  animation     : show-modal 1s ease-in-out;
  z-index       : 2;
}

@mixin modal-text-input {
  display         : block;
  box-sizing      : border-box;
  margin          : 5px 0;
  width           : 100%;
  background-color: $lightest-gray;
  border          : 1px solid $lighter-gray;
  border-radius   : 5px;
  padding         : 6px 6px;
  color           : $darkgray;
  transition      : all 0.3s ease 0s;

  &:hover {
    opacity: 100%;
    border : 1px solid gray;
  }

  &:focus {
    border          : 1px solid $primary;
    background-color: $white;
    box-shadow      : inset 0 2px 4px $lighter-gray, 0 2px 4px $lighter-gray;
  }
}

.modal-close {
  width        : 30px;
  height       : 30px;
  cursor       : pointer;
  position     : absolute;
  top          : 7px;
  right        : 8px;
  opacity      : 70%;
  border-radius: 20%;

  >span {
    width   : 1px;
    height  : 1px;
    padding : 0;
    margin  : -1px;
    overflow: hidden;
    position: absolute;
  }

  &::before,
  &::after {
    content            : '';
    width              : 4px;
    height             : 80%;
    background-color   : rgb(70, 70, 70);
    display            : block;
    transform          : translateX(0px);
    position           : absolute;
    top                : 4px;
    right              : 12px;
    border-radius      : 50px;
    // opacity         : 70%;
    transition         : all 0.3s ease 0s;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: rgb(238, 238, 238);
    opacity         : 100%;

    &::before,
    &::after {
      // opacity: 100%;
      background-color: rgb(0, 0, 0);
    }
  }

  &:focus {
    background-color: rgb(238, 238, 238);
    opacity         : 100%;

    &::before,
    &::after {
      // opacity         : 100%;
      background-color: rgb(0, 0, 0);
    }
  }
}

.modal-backdrop {
  display         : block;
  position        : fixed;
  top             : 0;
  bottom          : 0;
  left            : 0;
  right           : 0;
  background-color: rgba(128, 128, 128, 0.4);
  z-index         : 1;
}

@mixin sliding-menu {
  display         : block;
  position        : absolute;
  background-color: white;
  color           : $surface--text;
  border-radius   : 10px;
  box-shadow      : 0 0 25px $lighter-gray;
  border          : 1px solid $light-gray;
  opacity         : 0;
  visibility      : hidden;
  overflow        : hidden;
  transition      : all 0.4s ease 0s;
}

// * TASK CHECK ------------------------------------------------------------

@keyframes checked {
  0% {
    width : 16px;
    height: 16px;
  }

  50% {
    width : 24px;
    height: 24px;
  }

  // 100% {
  //   width : 20px;
  //   height: 20px;
  // }
}

@mixin task-check-button {
  box-sizing: border-box;
  background: image-url('check-circle-outline.svg') no-repeat center;
  align-self: center;

  // Centers button
  margin       : 0;
  position     : absolute;
  top          : 50%;
  left         : 50%;
  -ms-transform: translate(-50%, -50%);
  transform    : translate(-50%, -50%);

  filter    : invert(100%) sepia(0%) saturate(11%) hue-rotate(162deg) brightness(89%) contrast(77%); // start gray
  transition: all 0.3s ease 0s;

  &:hover {
    filter: invert(0%) sepia(100%) saturate(3227%) hue-rotate(173deg) brightness(92%) contrast(96%); // turn to black
  }

  &.task-done {
    animation : checked 0.5s ease;
    background: image-url('check-circle.svg') no-repeat center;
    filter    : invert(64%) sepia(86%) saturate(1574%) hue-rotate(124deg) brightness(97%) contrast(98%); // turn to #03dac5

    &:hover {
      filter: invert(0%) sepia(100%) saturate(3227%) hue-rotate(173deg) brightness(92%) contrast(96%); // turn to black
    }
  }
}