@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation-fast {
  0% {
    // filter   : hue-rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    // filter: hue-rotate(180deg);
  }

  100% {
    // filter : hue-rotate(360deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes pop {
  to {
    -webkit-transform: scale(1.2);
  }
}

@-moz-keyframes pop {
  to {
    -moz-transform: scale(1.2);
  }
}

#splash-footer {
  width           : 100%;
  height          : 100%;
  flex            : 1;
  background-color: $background--footer;
  display         : flex;
  justify-content : center;
}

#splash-footer-content {
  width          : 100%;
  height         : fit-content;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
  padding        : 20px 0;
}

.footer-logo-wrapper {
  width          : 50px;
  height         : 50px;
  display        : flex;
  align-items    : center;
  justify-content: center;

  // &:active {
  //   animation: pop 1s ease;
  // }
}

.footer-logo {
  height    : 40px;
  width     : 40px;
  transition: all 0.5s ease 0s;
  animation : rotation 5s infinite linear;

  &:hover {
    // filter      : hue-rotate(360deg);
    // height      : 105%;
    // width       : 105%;
    // height: 49px;
    // width: 49px;
    // transform: rotate(360deg);
  }

  &:active {
    // filter           : hue-rotate(360deg);
    animation           : rotation-fast 0.5s infinite linear;
    // animation: pop 0.3s ease;
    // transform: scale(0.8);
    // -webkit-animation: pop .1s infinite alternate;
    // -moz-animation   : pop .1s infinite alternate;
    // animation        : pop .1s infinite alternate;
    // height : 90%;
    // width: 90%;
  }
}

// .footer-logo-pop {
//   animation: pop 1s ease-in-out;
//   animation : rotation 5s infinite linear;
// }

.footer-greeting {
  margin-top : 20px;
  color      : $lightest-gray;
  font-family: $font-other;
  font-size  : 20px;
  text-shadow: 2px 2px 8px $darkgray;
}

.splash-profile-links {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  width          : 200px;
  margin-top     : 20px;

  img {
    box-shadow      : 0 0 10px $darkgray;
    background-color: $primary--med;
    border-radius   : 5px;
    //  filter: invert(100%);
    height          : 50px;
    width           : 50px;
    opacity         : 0.5;
    transition      : opacity 0.3s ease 0s;

    &:hover {
      //  filter: invert(90%);
      filter : hue-rotate(180deg);
      opacity: 1.0;
    }
  }
}