#loader-wrapper {
  position  : absolute;
  top       : 0;
  left      : 0;
  min-width : 100vw;
  min-height: 100vh;
  z-index   : 5;

  display        : flex;
  justify-content: center;
  align-items    : center;

  background-color: $lighter-gray;
  opacity         : 0.5;
  transition: all 0.3s ease 0;

  animation: fade-in 1s ease;
}

#loader {
  // border       : 10px solid white;
  // border-top   : 10px solid $primary;
  // border-radius: 50%;
  background: image-url('azena-icon-teal-centered.svg') center no-repeat;
  width        : 120px;
  height       : 120px;
  animation    : spin 1.5s linear infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 0.5;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}