#root {
  width: 100%;
}
#splash {
  width: 100%;
  margin: 0 0;
  height: 100%;
}

// Main
#splash-main {
  
}
.splash-top-right {
  width: 50%;
  background: image-url('unsplash-splash-2-gs.jpg') no-repeat center;
}